#sendNumber{
    position: absolute;
    bottom:10px;
    left:160px;
    border:none;
    border-radius: 5px;
    background-color: chocolate;


}
#inputName5{
    position: absolute;
    top:110px;
    left:70px;
}
.quest{
    width:100%;
    height:30px;
    text-align: center;
    font-size: 20px;
    color:black;
    margin-bottom: 15px;
}
#timeToTheGame{
    width:200px;
    height:35px;
    position: absolute;
    right:10px;
    top:30px;
    border:1px solid darkred;
    text-align: center;
    border-radius: 5px;
}
.adr{
    display: block;
}
#googleCart{
    width:100%;
    height:500px;
    background-color: #51EC5B;
    z-index: 10;
}
.news, .home{
    margin-left: 15px;
    font-size: 30px;
    border-radius: 5%;
    border-style: inset;
    border-width: medium;
    color: red;
    background-color: cornflowerblue;
    border-color: dodgerblue;
}

.navbar{
    border-radius: 2%;
    border-width: medium;
    border-style: outset;
    border-color: cornflowerblue;
    margin-top: 10px;
    height: 30px;
}
#toBeCloned{
    visibility: hidden;
    position: absolute;
}

#finalSum{
    width:100%;
    height:30px;
    position:absolute;
    bottom:60px;
    right:0;
    text-align: center;
    font-size: 20px;
}

.form-control{
    margin-left: 350px;
    border-color: dodgerblue;
    font-size: 20px;
    margin-bottom: 10px;
}

.btn-outline-success{
    background-color: red;
    font-size: 15px;
    color: white;
    margin-bottom: 10px;
}

.navbar-brand {
    font-family: cursive;
}
.hint{
    position: absolute;
    left:15px;
    bottom:10px;
    color: darkred;
    font-size: 17px;
}
.yourText{
    padding-left: 10px;
    width:250px;
    height: 35px;
    position:absolute;
    left:200px;
    top:30px;
    border-radius: 3px;
    border:1px solid coral;
}
.textMain{
    padding-left: 10px ;
    padding-top: 5px;
    position: absolute;
    left:15px;
    top:30px;
    width:185px;
    height:35px;
    border:1px solid darkcyan;
    border-radius: 3px;
}
.column{
    width:100%;
    height:100px;
    border: 1px solid darkred;
    position: relative;
}
#help{
    transition: all 1.2s ease-in-out;
    opacity: 0.9;
    border-top-left-radius: 7px;
    z-index: 2;
    position: fixed;
    right:0;
    bottom:-150px;
    width:400px;
    height:200px;
    background-color: forestgreen;
}
#help:hover{
    bottom:0;

}

#rightSide{
    position:fixed;
    right:0;
    top:0;
    heigth:100%;
    background-color: whitesmoke;
    display: inline-block;
    width:30%;
    float:right;
    height:625px;

}

#leftSide{
    display: inline-block;
    background-color: darkgoldenrod;
     width:70%;
    float:left;
    height:auto;
    min-width: 500px;
    border:2px solid red;
}


@media (max-width: 835px) {
    #rightSide{
        display: none;
    }
    #leftSide{
        width:100%;
    }
}

.button{
    width:100px;
    height:50px;
}
#screen{
    width:100%;
    height:600px;
    background-color: darkcyan;
    margin-top:-10px;
}
#clock{
    background-color: coral;
    width:100px;
    height:auto;
    text-align: center;
    border:2px solid red;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;

}
table {
    border-collapse: collapse;
}

td,
th {

    border: 1px solid black;
    padding: 3px;
    text-align: center;
    background-color: coral;
}

th {
    font-weight: bold;
    background-color: darkred;
}
#calendar{
    margin-left:200px;
    display: inline-block;
}
#calendar2{
    margin-left: 5px;
    margin-bottom: -5px;
    width:auto;
    height:auto;
    padding:10px;
    background-color: darkred;
    display: inline-block;
}
 .buttonRight{
    position:absolute;
    right:0;
    width:10px;
    height:100%;
    display: inline-block;
}
.buttonLeft{
    position:absolute;
    left:0;
    width:10px;
    height:100%;
    display: inline-block;
}

.fullCalend{
    position:relative;
    width:155px;
    height: auto;
    background-color: coral;
}


.bin-item{
    height: 120px;
    border-bottom-style: inset;
}

.col-md-2 {
    position: absolute;
    right: 0px;
    width: 23%;
}
.minus {
    margin-left: 2%;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background-color: #FB5C5C;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 0 1px rgba(34,36,38,.15)
    inset, 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
    color: #FFF;
}

.inp {
    background-color: aliceblue;
    width: 20px;
    height: 30px;
    border-radius: 3px;
    border: none;
    text-align: center;
    font-family: "Courier New";
    font-size:20px;
    font-weight: bold;
}

.plus {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background-color: #51EC5B;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 0 1px rgba(34,36,38,.15)
    inset, 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
    color: #FFF;
}

.remove {

    border-radius: 100%;
    height: 30px;
    width: 30px;
    background-color: #FFF;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 0 1px rgba(34,36,38,.15)
    inset, 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
    color : #5643FE;
}

.side-img {
    position: absolute;
    right: 0;
    height: 110px;
}

.side-img img {
    max-width: 100%;
    max-height: 100%;
}